*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 10em;
}

.navbar{
    padding: 1rem;
    background-color: #16364D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}

a{
    text-decoration: none;
    
}

.contact-icon{
    width: 8%;
    margin-left: 10px;
}

.footer{
    display: flex;
    background-color: #16364D;
    height: 150px;
    padding: 1.75rem;
    text-align: center;
    align-items: center;

}

.footer > p{
    width: 40%;
    font-size: 1.75rem;
}
.footer > a{
    width: 40%;
    margin: 20px;
    font-size: 1.5rem;
}
.footer > a:hover{
    background-color: #DFD0B8;
    color: #16364D;
    border-radius: 5px;
    padding: 5px;
}

.email{
    font-size: 1.5rem;
}
#my-photo{
    width: 6em;
    border-radius: 50%;
}

.social-media>a{
    font-size: 1.5rem;
    display: block;
    margin-top: 10px;
}
.social-media{

    width: 40%;
}
.tabs{
    width: 50%;
    border: 1px solid #DFD0B8;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    align-items: center;
}

.img-navbar{
    width: 20%;
    display: flex;
    justify-content: center;
}

.home-img{
    width: 100%;
    border-radius: 10px;
}

.tab{
    color: white;
}
.tab:hover{
    background-color: #DFD0B8;
    color: #16364D;
    padding: 10px;
    border-radius: 5px;
}

.footer-p{
    color: white;
}

.drop{
    border: 1px solid #DFD0B8;
    margin: 15px;
}

.key-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    margin: 40px;
}

.key-questions{
    padding: 20px;
    background-color: #3C5B6F;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* .key-main-container{
   
} */

.h2{
    margin: 40px;
    text-align: center;

}
.main-container{
    background-color: #DFD0B8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.child-container{
    padding: 40px;
    border-radius: 4px;
}

.container-1{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.container-1 p{
    margin-top: 20px;
    font-size: 20px;

}

.container-1 h1{
    font-size: 80px;
}

.container-2{
    text-align: center;
}

.title-questions{
    font-weight: bold;
    margin-bottom: 10px;
}

.key-questions p{
    color: white;
}

#projects-banner{
    /* width: 80%; */
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    z-index: -1;
}

.banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/futuristic-smart-city-with-5g-global-network-technology.jpg');
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 160px);
}

.banner-resources{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/business-corporate-protection-safety-security-concept.jpg');
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 160px);
}

.title-project{
    color: white;
    font-size: 3em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

.card-project{
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;

}

.grid-projects{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    width: 100%;
    margin: 4rem;
}

.grid-resources{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 40px; 
    width: 100%;
    margin: 4rem;

}

.grid-resource{
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width:80%;
}

.grid-resource > a{
    color: #16364D;
    font-size: 2rem;
}

.grid-resource > a:hover{
    background-color: #3C5B6F;
    color: white;
    font-size: 2rem;
    padding: 8px;
    border-radius: 8px;
}